body{
	font-family: 'Poppins', sans-serif;
	background-color: #B7C4CF;
	background-repeat: no-repeat;
	background-size: cover;
	
}

.container{

	display: flex;
	justify-content: flex-end;
	align-items: center;

}

.titulo{
	padding: 2rem 1rem;
	font-size: 25px;
	color: #2B4865;
}

.botao {
	background-color: #2B4865;
	color: #CFD2CF;
	border-color: #2B4865;
	padding: 7px;
	font-weight: 700;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
	transition: all .4s ease-out;
	margin: 0rem 2rem;
	
}

.botao:hover{
	background-color: #FEC260;

}

.container__canvas{
	width: 25%;
	display: flex;
	justify-content: space-between;
	margin-left: 20rem;
}

.subtitulo__idade{
	font-size: 25px;
	color: #2B4865;
	margin-left: 18rem;
	width: 20%;
	word-wrap: break-word;
}

.subtitulo__pele{
	font-size: 25px;
	color: #2B4865;
	margin-left: 40rem;
	margin-top: -4rem;
	width: 20%;
	word-wrap: break-word;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
	color: #2B4865;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

.container__tabela{
	width: 60%;
	height: 100%;
	margin: 2rem auto;
}

.card__luke,
.card__c3po,
.card__r2d2{
	background-color: #2B4865;
	width: 30%;
	color: #CFD2CF ;
	display: none;
}

.botao__fav,
.botao__fav1,
.botao__fav2{
	background-color: #CFD2CF;
	color: #2B4865;
	border-color: #2B4865;
	padding: 5px;
	font-weight: 700;
	font-size: 12px;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
	transition: all .4s ease-out;
	margin: 0rem 2rem;
}

.favoritos{
	margin-top: 2rem;
}

.titulo__favoritos{
	font-size: 25px;
	color: #2B4865;
	text-align: center;
	font-weight: 700;	
}
.conteudo__favoritos,
.conteudo__favoritos1,
.conteudo__favoritos2,
.conteudo__favoritos3,
.conteudo__favoritos4,
.conteudo__favoritos5,
.conteudo__favoritos6,
.conteudo__favoritos7,
.conteudo__favoritos8,
.conteudo__favoritos9,
.conteudo__favoritos10,
.conteudo__favoritos11,
.conteudo__favoritos12,
.conteudo__favoritos13,
.conteudo__favoritos14{
	text-align: center;
	margin-top: 1rem;
	color: #2B4865;
}

@media screen and (max-width: 768px) {
	.container__canvas{
		margin-left: 14rem;
	}
	
	.subtitulo__idade{
		margin-left: 12rem;
		width: 30%;
		margin-top: 2rem;

	}
	
	.subtitulo__pele{
		margin-left: 26rem;
		margin-top: -5rem;
		width: 30%;
	}
}

@media screen and (max-width: 375px){
	.container__canvas{
		justify-content: flex-start;
		width: 50%;
		padding-right: 50%;
	}
	
	.subtitulo__idade{
		margin-top: 2rem;
		width: 50%;
	}
	
	.subtitulo__pele{
		margin-top: -5rem;
		width: 50%;
	}

	table{
		margin-left: 10rem;
	}

	.titulo__favoritos{
		margin-left: 10rem;
	}

	.container{

		display: flex;
		justify-content: center;
		align-items: center;
	
	}
}